<!-- Nav -->
<section data-am-sticky class="am-show-md-up">
<div class="am-container">
<a href="/" rel="nofollow" class="m-logo"><i class="am-icon-spinner"></i> J2 Network</a>
<!--        <ul class="am-fr m-about">
	<li><a href="/about/" class="am-btn am-btn-danger am-btn-sm am-radius" rel="nofollow">关于我们</a></li>
	<li><a href="/contact/" class="am-btn am-btn-danger am-btn-sm am-radius" rel="nofollow">联系我们</a></li>
    </ul> -->
<nav>
  <ul class="m-nav am-nav am-nav-pills am-fr">
    <li><a href="index.html" rel="nofollow">网站首页</a></li>
    <li class="am-dropdown" data-am-dropdown><a href="/anli.html" rel="nofollow" class="am-dropdown-toggle" data-am-dropdown-toggle>案例展示 <span class="am-icon-caret-down"></span></a>
      <ul class="am-dropdown-content">
	<li><a href="wangzhan.html" rel="nofollow">网站建设</a></li>
	<li><a href="" rel="nofollow">平面设计</a></li>
	<li><a href="" rel="nofollow">营销策划</a></li>
	<li><a href="" rel="nofollow">广告拍摄</a></li>
	<li><a href="" rel="nofollow">电商设计</a></li>
	<li><a href="" rel="nofollow">品牌策划</a></li>
      </ul>
    </li>
    <li><a href="fuwu.html" rel="nofollow">服务内容</a></li>
    <li><a href="zixun.html" rel="nofollow">最新动态</a></li>
    <li><a href="about.html" rel="nofollow">关于我们</a></li>
    <li><a href="contact.html" rel="nofollow">联系我们</a></li>
  </ul>
</nav>
</section>

</div>
<nav data-am-widget="header" class="am-header am-show-sm-only">
<div class="am-header-left am-header-nav">
<a href="/" rel="nofollow">
  <i class="am-header-icon am-icon-home"></i> 首页
</a>
</div>
<h1 class="am-header-title">
<a href="/" rel="nofollow">俊贰网络</a>
</h1>
<div class="am-header-right am-header-nav">
<a href="#right-link" class="" data-am-offcanvas="{target: '#r-nav'}">
  <i class="am-header-icon am-icon-bars"></i> 菜单
</a>
</div>
</nav>

<!-- 侧边栏内容 -->
<div id="r-nav" class="am-offcanvas">
<div class="am-offcanvas-bar am-offcanvas-bar-flip">
<nav class="am-offcanvas-content">
    <a href="/" rel="nofollow"><span class="logo"></span></a>
    <p><i class="am-icon-home"></i> <a href="/" rel="nofollow">网站首页</a></p>
    <p><i class="am-icon-desktop"></i> <a href="/anli.html" rel="nofollow">案例展示</a></p>
    <p><i class="am-icon-cogs"></i> <a href="/fuwu.html" rel="nofollow">服务内容</a></p>
    <p><i class="am-icon-credit-card"></i> <a href="/zixun.html" rel="nofollow">最新动态</a></p>

    <p><i class="am-icon-user"></i> <a href="/about.html" rel="nofollow">关于我们</a></p>
    <p><i class="am-icon-qq"></i> <a href="/contact.html" rel="nofollow">联系我们</a></p>
</nav>
</div>
</div>
