description = "Default layout"

[SeoCmsPage]
==
<html class="no-js" lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	{% component 'SeoCmsPage' %}
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">

    <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
	<link rel="alternate icon" type="image/png" href="/favicon.png">

	<link rel="stylesheet" href="{{ 'assets/vendor/amazeui/css/amazeui.min.css' | theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/style.min.css' | theme }}">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
	<script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.js"></script>

	<![endif]-->
</head>
<!--[if lt IE 9]>
<div class="am-modal am-modal-no-btn am-modal-active" tabindex="-1" id="doc-modal-1" style="display: block; width: 400px; margin-left: -200px; margin-top: -112px;">
<div class="am-modal-dialog">
<div class="am-modal-hd">365 安全卫士提醒</div>
<div class="am-modal-bd">你的浏览器太古董了，还不换一个你就奥特曼了
    <a href="http://browsehappy.com/" target="_blank" class="am-btn am-btn-danger am-btn-sm am-radius" rel="nofollow">速速点击换一个</a>
    </div>
</div>
</div>
<![endif]-->
<body>
<header class="m-hd">
    {% partial 'site/header' %}
</header>

<section id="m-content">
    {% page %}
</section>

<footer class="m-footer">
    {% partial 'site/footer' %}
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="{{'assets/vendor/polyfill/js/rem.min.js' | theme }}"></script>
<script src="{{'assets/vendor/polyfill/js/respond.min.js' | theme }}"></script>
<script src="{{'assets/vendor/amazeui/js/amazeui.legacy.min.js' | theme }}"></script>
<![endif]-->
 <script src="{{'assets/vendor/echo/js/echo.min.js' | theme }}"></script>
 <script>
  echo.init({
    offset: 100,
    throttle: 250,
    unload: false,
    callback: function (element, op) {
      //console.log(element, 'has been', op + 'ed')
    }
  });
  // 图片赖加载
  </script>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="{{'assets/vendor/jquery/js/jquery.min.js' | theme }}"></script>
<script src="{{'assets/vendor/amazeui/js/amazeui.min.js' | theme }}"></script>
<!--<![endif]-->


</body>
</html>